body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    padding-bottom: 10%;
}

h1{
    font-size: 40px;
}

p {
    color: dimgray;
    padding-bottom: 20px;
}

img {
    width: 100%;
}
.header-section {
    height: 600px;
    background-image: url(images/header-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.half-width {
    float: left;
    width: 42%;
    margin-left: 5%;
    padding-top: 4%;
    padding-left: 2%;
}

.large-pink-header {
    font-size: 60px;
    color: #EC4C7A;
    font-weight: bold;
}

.colorful-button {
    color: white;
    padding: 10px 35px;
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #e7a3b6, #EC4C7A);
}

.Biography-Section {
    height: 650px;
    background-image: url(images/biography-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.center-aligned {
    text-align: center;
    padding-top: 50px;
}

.my-latest-work {
    height: 450px;
    background-image: url(images/biography-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

#first-work {
    padding-left: 7.5%;
}
.special-show-off {
    padding-left: 2%;
}

.show-off-common {
    padding-top: 50px;
    width: 27%;
    float: left;
}
